@mixin text ($fontWeight, $fontSize, $lineHeight, $color) {
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}