// цвета текста
$textLogo: #FFFFFF;
$textNav: #417A82;
$textGreen: #417A82;
$textWhite: #FFFFFF;
$textOrderbtn:#052E4C;
$textDarkBlue: #052E4C;
$textDiscount: #B84C74;

//цвет фона
$backLogo: #B84C74;
$backHeader: #F2F6F7;
$backOrderbtn: #B84C74;
$backHoverBtn: #B84C74;
$backWhite: #FFFFFF;
$backPopularGreen: #417A82;
$backPopularBlue: #052E4C;
$backLightGreen:#E3F6F5;
$backFooter: #262626;
$backOffersCard: #E3F6F5;

//бордер
$borderSearch:#417A82;
$borderOrderbtn: #B84C74;
$borderFooterBtn: #FFFFFF;
$borderWhiteBtn: #FFFFFF;
$borderDarkBlue: #052E4C;


//контейнер
$widthContainer: 1120px;

